/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 21.03.17
 */

.config {
	height: 100%;

	& pre {
		margin: 0;
		height: 100%;
	}

	& code {
		height: 100%;
		padding: 1.5em .5em;
		box-sizing: border-box;
	}
}