/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 21.03.17
 */

.textarea {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
	resize: none;
	background-color: #eaeaea;
	outline: none;
	cursor: text;
	padding: 1em;
	font-family: 'Ubuntu';
	color: #000;
}