/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 08.02.17
 */

.questions {
	width: 100%;
	padding: 0 20px;
}

.buttons {
	margin: -10px;
}

.button {
	display: inline-block;
	margin: 10px;
}