/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 08.02.17
 */

.questions {
	width: 100%;
	padding: 0 20px;
	text-align: center;
}

.buttons {
	margin: -10px;
}

.button {
	display: inline-block;
	margin: 10px;
	text-align: left;
}

.skip {
	background: rgb(243, 243, 243);
	border: none;
	color: #848484;
	width: 200px;
	display: block;
	margin: 50px auto 0;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
}