/*
 * Crafted by Aidar Ibatullin <amazing.space.invader@gmail.com>
 * 21.03.17
 */

.header {
	background-color: #000;
	color: #fff;
	height: 64px;
	display: flex;
	padding: 0 20px;
	align-items: center;
	justify-content: space-between;
}

.navigation {
	margin: 0 -0.75rem;

	& > a {
		display: inline-block;
		margin: 0 .75em;
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #32cd32;
		}
	}
}